.login_main{
    height: 120vh;
    background-image: url("../../public/images/pat2.jpg");
}
.login_card{
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.932);
    margin-left: -4rem;
    text-align: center;
    padding-top: 4rem;
    color: white;
}
.form_input{
    width: 35rem;
    margin: 1rem;
    text-align: center;
    height: 2.6rem;
    color: white;
    border: 0.5px solid white;
    border-radius: 6px;
    background: none;
}
.form > input > :placeholder-shown{
    color: white;
}
.submit{
    width: 12rem;
    height: 2rem;
    background: none;
    color: silver;
    border: 1px solid silver;
    border-radius: 6px;
}
.signin > p{
    margin-top: -18px;
}
.register > button{
    width: 15rem;
    height: 2.7rem;
    border: none;
    border-radius: 5px;
    font-weight: 750;
    color: white;
    background-color: rgba(127, 255, 212, 0.274);
}
.nav_logo{
  width: 85vw;
  color: white;
  padding-left: 28rem;
  display: flex;
  align-items: center;
  height: 2rem;
  margin-top: 2rem;
}
.nav_logo > span{
  font-family: serif;
}